html {
  scroll-behavior: smooth;
}

body {
  color: #1c1e20;
  font-family: 'Lato', serif;
  font-weight: 400;
}

h3, h4 {
  margin-top: 5rem;
}

table.initialWidth {
  width: initial;
}

td, th {
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

tr.category td {
  font-size: 2rem;
}

.menuButton {
  display: block;
}

@media (min-width: 60.0rem) {
  .menuButton {
    display: inline-block;
  }
}

.section:before {
  content: "";
  position: absolute;
  transform: translate(-9rem, 0);
  opacity: 0;
  transition: transform 200ms ease-out, opacity 200ms ease-out;
}

.highlight {
  position: relative;
}

.highlight:before {
  content: "";
  position: absolute;
  height: 100%;
  opacity: 1;
  transform: translate(-3rem, 0);
  border-left: 5px solid #0d99a5;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translate(10rem, 0);
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0);
  }
}

.fromLeft {
  display: inline-block;
  animation-name: fromLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
}

.animateText {
  text-align: left;
  display: inline-block;
}